/* Reset default browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Optional: set background globally */
body {
  background-color: #f7f7f7;
}

.app-container {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
}

.page-content {
  flex: 1;
  padding: 2rem;
  background-color: #f7f7f7;
}
